body {
	background: #b0cbf2;
}

#title {
	color: #4680d6;

}

#description {
	color: #3E38F2;

	
}

@import {

}

#projects-section{
	color: #4680d6;
}

@font-face {
	font-family: nunito;
	src: url(css/fonts/nunito-regular-webfont.woff) format('woff');
}

body {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	display: inline-block;
	border: 2px solid black;
	width: 100%;
}

.navbar a {
	padding: 10px 15px;
	text-align: center;
	color: black;
	text-decoration: none;
	float: left;
	width: 15%;
	background: #b0cbf2; 
}

#projectname {
	color: #E91313;
}



.lower {
    background-color: #829FD9;
}

