body {
	background: #b0cbf2;
}

#title {
	color: #4680d6;

}

#description {
	color: #FF0000;

	
}

@import {

}

#projects-section{
	color: #4680d6;
}

@font-face {
	font-family: nunito;
	src: url(css/fonts/nunito-regular-webfont.woff) format('woff');
}

body {
	font-family: 'Nunito', sans-serif;
}